<meta charset="UTF-8">
<title>Prends Deux Bananes</title>
    <script>
        /*jshint strict: false*/
        /* jshint node: true */
    </script>
	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style type="text/css">
            #like, #unlike:hover {
                color: gray;
            }
            #like:hover, #unlike {
                color: #DF0101;
            }
            #unlike {
                display: none;
            }
	</style>