<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/admin-head %>
    </head>

  <body>

      <!-- menu -->
    <div id="header">
            <% include ../partials/admin-header %>
    </div>

    <div class="container">
      <h3>Quotes</h3>
      <a href="/admin-add" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i><span> Add quote</span></a>
      
      <% for(var i=0; i < quotes.length; i++) { %>

      <div class="media">
        <a href="/admin/<%= quotes[i]._id %>">
          <div class="media-body">
            <h4><%= quotes[i].content %></h4>
            <p><%= quotes[i].author %></p>
            <p><%= quotes[i].date %></p>
          </div>
        </a>
      </div>

    <% } %>

<!--   if !quotes.length
    p No quotes found. -->

    </div> <!-- container -->
  </body>
</html>